.blogcarousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    width: 100%;
    color: rgb(8, 118, 126);
}

.blogcard {
    width: 400px;
    margin: 10px;
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0.808);
    box-shadow: 3 3 10px rgba(0, 0, 0, 0.5);
}

.blogcard:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.blogcardimage {

    width: 100%;
    border-radius: 10px 10px 0 0;
}

.blogpostcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;

}

.blogheading {
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    margin: 10px;
    color: rgb(8, 118, 126);
}

.blogdescription {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    margin: 10px;
    color: rgb(255, 255, 255);
    color: black;
    height: 130px;
    overflow: scroll;
}

.readmorebtn {
    background-color: rgb(8, 118, 126);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    cursor: pointer;
    font-size: 20 px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0px;
}

.pagebg {
    background-color: rgba(255, 255, 255, 0.295);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scholarshipcard {
    width: clamp(300px, 90%, 800px);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.897);
    box-shadow: -4px 2px 13px 10px rgba(0,0,0,0.61);
}

.scholorshipname {
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    margin: 10px;
    color: rgb(9, 133, 216);
    font-weight: bold;
}

.listitem{
    font-style: italic;
}

.scholorshipdataitem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align:left;
    width: 100%;
    padding: 5px;
}
.heading3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(84, 40, 243);
}

.itemheading{
    font-size: 20px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    font-weight: bold;
    text-align:left;
    width: 20%;
    font-variant: small-caps;
}
.itemdata{
    color: rgb(20, 20, 20);
    text-align:left;
    width: 80%;
}


@media screen and (max-width: 768px) {
    .blogcarousel {
        justify-content: space-evenly;
    }
    .scholorshipdataitem{
        display: flex;
        flex-direction: column;
    }
    .itemdata{
        width: 95%;
    }
    .itemheading{
        width: 95%;
    }
}