@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-effect {
  background-color: rgba(255, 255, 255, 0.9);
}

@supports (
  (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
) {
  .glass-effect {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}


