name: Deploy

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Using node_modules cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Using build cache
        id: build-cache
        uses: actions/cache@v2
        with:
          path: public
          key: ${{ runner.os }}-${{ github.sha }}

      - if: steps.build-cache.outputs.cache-hit == 'true'
        name: Deploy
        run: |
          echo "Cache found"
          echo "Starting deployment"
          npm run deploy -- ${{ secrets.FTP_HOST }} ${{ secrets.FTP_USER }} ${{ secrets.FTP_PASSWORD }}

      - if: steps.build-cache.outputs.cache-hit != 'true'
        name: Deploy fail
        run: |
          echo "Cache not found!"
          exit 1
